{% extends 'starter-page.html' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% load static %}

{% block content %}


	<h1 class="text-center">All appointments</h1>

   <div class="d-flex container flex-wrap gap-5">


    {% for x in all %}
      <div class="card w-30 p-3 shadow-lg">
      <p class="text-primary">  {{ x.name }}</p>
      <p class="fw-bold "> <strong>Email:</strong> {{ x.email }}</p>
      <p class="fw-bold "> <strong>phone:</strong> {{ x.email }}</p>
      <p class="fw-bold "> <strong>Date and time:</strong> {{ x.email }}</p>
          <p class="fw-bold "> <strong>Department</strong> {{ x.email }}</p>
          <p class="fw-bold "> <strong>message</strong> {{ x.email }}</p>
          <p class="fw-bold "> <strong>doctor</strong> {{ x.email }}</p>
      <p>
          <a href="" class="text-warning">
              <i class="bi bi-pencil"></i>Edit
          </a>


          <a href="/delete/{{ x.id }}" class="text-danger">
              <i class="bi bi-trash"></i>Delete

          </a>
      </p>


      </div>

    {% endfor %}

    </div>






{% endblock %}